<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Screenshot"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/simongonzalez/IdeaProjects/Project">
        <classes>
            <class name="createAccount"></class>
            <class name="createSecureAccount"></class>
            <class name="signIn"></class>
            <class name="buyCrypto"></class>
        </classes>
    </test>
</suite>